@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"] (obowiązuje od 13 kwietnia 2020 r.)</h1>

<text>
    <p>
        Zespół Libre dba o ochronę Twojej prywatności.
        Polityka Prywatności określa w jaki sposób dbamy o Twoje dane osobowe i Twoje prawa.
        <br><br>

        Rejestrując się na stronie wyrażasz zgodę na przetwarzanie danych osobowych zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (RODO).
    </p>

    <h4>Administrator danych </h4>
    <p>Administratorem Twoich danych jest portal Libre.</p>
    <h4>Gromadzone dane</h4>
    <p>
        Minimum gromadzonych danych to adres e-mail.
    </p>
    <h4>Cel gromadzenia danych</h4>
    <p>  Dane są gromadzone w celu zapewnienia dostępu (tworzenie i dostęp do konta) i funkcjonalności portalu </p>
    <h4>Obowiązkowe i dobrowolne dane</h4>
    <p>Do posiadania konta wymagane jest jedynie podanie adresu e-mail.</p>
    <h4>Okres przetwarzania danych</h4>
    <p>Dane są przetwarzane dopóki użytkownik posiada konto. Użytkownik w każdej chwili ma możliwość samodzielnego usunięcia swoich danych osobowych.</p>
    <h4>Prawa użytkownika</h4>
    <p>Użytkownik ma prawdo do wglądu, pobrania oraz usunięcia swoich danych osobowych. Ponadtwo użytkownik ma prawo do złożenia ewentulanej skargi do Prezesa Urzędu Ochrony Danych Osobowych.</p>
</text>