@model Guid

<div class="row">
    <div class="col-md-6">
        <input type="submit" class="btn btn-danger form-control " asp-route-id="@Model" value="Usuń" />
    </div>
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-info form-control media-margin-top">Wróć do listy</a>
    </div>
</div>