@model Guid



<div class="row">
    <div class="col-md-6">
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-primary form-control media-margin-top">Edytuj</a>
    </div>
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-info form-control media-margin-top">Wróć do listy</a>
    </div>
</div>

