@model Libre.Models.Genre

@{
    ViewData["Title"] = "Delete";
}
<form method="post" asp-action="Delete">
    <div class="border backgroundWhite">
        <h2 class="text-info">Usuń Kategorię</h2>
        <br />
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="Name" class="col-form-label font-weight-bold media-margin-top"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Name" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-2">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>
        </div>
        @if (ViewData["ErrorMessage"] != null)
        {
            <h6>@ViewData["ErrorMessage"]</h6>
        }
    </div>
</form>

